dj-database-url==0.4.1
dj-static==0.0.6
Django==1.10.3
django-nose==1.4.4
djangorestframework==3.5.1
gunicorn==19.6.0
Markdown==2.6.7
nose==1.3.7
py-gfm==0.1.3
Pygments==2.1.3
static3==0.7.0
wheel==0.24.0
psycopg2==2.6.2
