{% extends 'layout/entry.html' %}
{% load static %}
{% load md2html %}

{% block title %}{{ entry.title }}{% endblock %}

{% block stylesheets %}
  <link rel='stylesheet' type='text/css' href="{% static 'stylesheets/highlight.css' %}"/>
{% endblock %}

{% block pre-scripts %}
  <script src=''></script>
{% endblock %}

{% block content %}
  <ul class="uk-breadcrumb">
    <li><a href="{% url 'entry-index' %}">index</a></li>
    <li><span>{{ entry.slug }}</span></li>
  </ul>

  <article class="uk-article">
    <h1 class="uk-article-title">
      {{ entry.title }}
      {% if user.is_authenticated %}
        <span style="font-size: 16pt; color: #999;">
          <a href="{% url 'entry-edit' entry.slug %}" class="uk-icon-hover uk-icon-pencil"></a>
        </span>
      {% endif %}
    </h1>
    <p class="uk-article-meta">{{ entry.published_at }}</p>
    {% autoescape off %}
      {{ entry.body|md2html }}
    {% endautoescape %}
    <hr class="uk-article-divider">
    {% include 'include/disqus.html' %}
  </article>
{% endblock %}
