{% extends 'layout/entry.html' %}
{% load static %}
{% load md2html %}

{% block title %}{{ entry.title }}{% endblock %}

{% block stylesheets %}
  <link rel='stylesheet' type='text/css' href="{% static 'stylesheets/highlight.css' %}"/>
{% endblock %}

{% block pre-scripts %}
  <script src=''></script>
{% endblock %}

{% block content %}
  <div class="uk-clearfix">
    <ul class="uk-breadcrumb uk-float-left">
      <li><a href="{% url 'entry-index' %}">index</a></li>
      <li><span>{{ entry.slug }}</span></li>
    </ul>
    <ul class="uk-float-right uk-subnav uk-subnav-line">
      <li><a href="?format=slide"><i class="uk-icon-desktop"></i> Slide Mode</a></li>
      <li><a href="{% url 'entry-rss' %}"><i class="uk-icon-rss-square"></i> RSS 2.0</a></li>
      <li><a href="https://bitbucket.org/nukosuke/blog"><i class="uk-icon-bitbucket"></i> Fork</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'entry-new-edit' %}"><i class="uk-icon-edit"></i> New Entry</a></li>
      <li><a href="{% url 'logout' %}"><i class="uk-icon-power-off"></i> Logout</a></li>
      {% endif %}
    </ul>
  </div>

  <article class="uk-article">
    <h1 class="uk-article-title">
      {{ entry.title }}
      {% if user.is_authenticated %}
        <span style="font-size: 16pt; color: #999;">
          <a href="{% url 'entry-edit' entry.slug %}" class="uk-icon-hover uk-icon-pencil"></a>
        </span>
      {% endif %}
    </h1>
    <p class="uk-article-meta">{{ entry.published_at }}</p>
    {% autoescape off %}
      {{ entry.body|md2html }}
    {% endautoescape %}
    <hr class="uk-article-divider">
    {% include 'include/disqus.html' %}
  </article>
{% endblock %}
